########################################
# External Configs
########################################

[include stepper.cfg]

[include macros.cfg]

#[include display.cfg]

########################################
# Extruder Settings
########################################

[extruder]
step_pin: P2.6
dir_pin: !P2.7
enable_pin: !P0.4
step_distance: 0.001441 #Microsteps 1/16
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: P2.3
sensor_type: ATC Semitec 104GT-2 
sensor_pin: P0.23
control: pid
pid_Kp: 21.373
pid_Ki: 1.357 
pid_Kd: 84.156
min_temp: 10
max_temp: 275
min_extrude_temp: 180
max_extrude_only_distance: 150.0
max_extrude_only_velocity: 45.0
max_extrude_only_accel: 1500.0
max_extrude_cross_section: .8
pressure_advance: 0.05
pressure_advance_smooth_time: 0.040

########################################
# Heat Bed Settings
########################################

[heater_bed]
heater_pin: P1.20
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: P0.25
control: pid
pid_Kp: 55.553 
pid_Ki: 3.061 
pid_Kd: 252.070
min_temp: 10
max_temp: 110
smooth_time: 3.0

########################################
# FAN Settings
########################################

[fan]
pin: P2.2
max_power: 1.0
kick_start_time: 0.75
off_below: 0.15
cycle_time: 0.075
hardware_pwm: False
shutdown_speed: 0

[heater_fan Hotend]
pin: P2.1
max_power: 1.0
kick_start_time: 0.5
hardware_pwm: False
heater: extruder
heater_temp: 50.0
fan_speed: 1

########################################
# Sensor Settings
########################################

[temperature_sensor Mainboard]
sensor_type: NTC 100K beta 3950
sensor_pin: P1.30
min_temp: -200
max_temp: 70

########################################
# Bett Schrauben Settings
########################################

[bed_screws]
screw1: 60,5
screw1_name: front screw
screw2: 5,115
screw2_name: back left
screw3: 115,115
screw3_name: back right

########################################
# Endstop Settings
########################################

[endstop_phase stepper_z]
endstop_phase: 245
  
########################################
# Printer Settings
########################################

[printer]
kinematics: corexy
max_velocity: 250
max_accel: 2500
max_accel_to_decel: 1250
max_z_velocity: 8
max_z_accel: 30
square_corner_velocity: 5.0

[static_digital_output start_tmc]
pins: !P3.26, !P3.25, !P1.18, !P1.19

[idle_timeout]
gcode:
   TURN_OFF_HEATERS
   M84
timeout: 1800

[virtual_sdcard]
path: ~/sdcard

[display_status]

[pause_resume]
recover_velocity: 50

########################################
# MCU Settings
########################################

[mcu]
serial: /dev/serial/by-id/usb-Klipper_lpc1769_0610000AA49869AFE4F23E5EC22000F5-if00

#[mcu host]
#serial: /tmp/klipper_host_mcu

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=P2.8,  EXP1_3=P0.19, EXP1_5=P0.20, EXP1_7=P0.17, EXP1_9=<GND>,
    EXP1_2=P0.16, EXP1_4=<RST>, EXP1_6=P0.15, EXP1_8=P0.18, EXP1_10=<5V>
